
		<h1>Welcom to <i class="fa-solid fa-book"></i>

		  <strong>Bookers!!</strong></h1>
		</h1>
		<p> In <i class="fa-solid fa-book"></i>
		  	you can share and exchange your opinions , inpresiions , and emotions<br>
		  	about various books!
		</p>
	  
    
    
    <%= link_to 'Log in', new_user_session_path %>
    
   <br><%= link_to 'Sign up', new_user_registration_path %></br>
   
   
   <footer>CopyRight Infratop.inc</footer>